<div class="container custom-login-container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <ul class="list-group custom-login-form">
                <h2 class="text-center mb-4">Forgot <span>Password?</span></h2>
                <li class="list-group-item">
                    <p>Enter your email address and will send you a link to reset your password.</p>
                    <input type="email" class="form-control" id="accountId" name="forgotPwd" placeholder="Email" required></li>
                <li class="list-group-item">
                    <button type="button" onclick="submitForgotPasswordForm()" class="btn btn-primary custom-submit-btn">Forget Password</button>
                </li>
                <li class="list-group-item">
                    <button type="button" onclick="loadSelectedPage('login');" class="btn btn-primary custom-submit-btn">Back to login </button>
                </li>
                
            </ul>
        </div>
    </div>
</div>
