<div>
    <ul>
        <li class = 'ptitle'>
           {{title}}
        </li>
        <li>
          Price :  ${{price}}
        </li>
        <li class = 'productDesc'>
           {{description}}
         </li>
         <li class="image-container" >
           <img src= "{{image}}" alt="">
         </li>
         <ul class='productbutton'>
          <li>
            <button type="button" onclick="PrductDetails()" class="btn btn-primary custom-submit-btn">View details</button>
          </li>
          <li>
            <button type="button" onclick="addProductToCart()" class="btn btn-primary custom-submit-btn">AddToCart</button>
          </li>
        </ul>

    </ul>
</div> 